* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Gabarit', sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.navbar__s1 {
    color: #A435F0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;


}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    align-items: center;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s4{
    display: none;
}
/* my learning Popup */

.mylearning
{
    position: relative;
}
.mylearning__popup{
    position: absolute;
background-color: white;
border: solid black 1px;
width: 100px;
top: 150%;
padding: 20px;
right: 0;
display: none;
} 
.mylearning:hover .mylearning__popup{
    display: block;
}

.catagories {
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.catagories p {
    background-color: #A435F0;
    color: white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}
.catagories p:hover{
    transition: 1s;
    background-color: transparent;
    color:black;
    border: solid #A435F0 1px;

}

.sale-image {
    position: relative;

}


.sale-image img {
    width: 100%;
}

.sale-image__offer {
    width: 35%;
    border: solid black 2px;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 10%;
    animation-name: zoom;
animation-duration: 2s;
opacity: 0;
animation-fill-mode: forwards;
}
@keyframes zoom {
    0%{
        transform: scale(0);
opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
    padding: 30px;
}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;


}

.course-card img {
    width: 100%;
    height: 50%;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    
}


.popular {
    padding: 10px;

}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 20px;
}

.footer__two {
    justify-content: space-between;
    display: flex;
}
/* media quaries */
@media screen and (max-width:880px){
    body{
        font-size: 10px;
    }
}
@media screen and (max-width:600px){
    .course-card{
        flex-basis: 40%;
    }
    .catagories{
        display: none;
    }
    .navbar__s2,.navbar__s3{
        display: none;
    }
    .navbar__s4{
        display: block;
    }

}